GOOGLE_API_KEY = your_google_api_key_here
DATABASE_URL = your_database_url_here
NEXTAUTH_DEBUG = true
NEXTAUTH_URL = http://localhost:3000
NODE_ENV = development
NEXTAUTH_SECRET = your_nextauth_secret_here
GOOGLE_CLIENT_SECRET = your_google_client_secret_here
GOOGLE_CLIENT_ID = your_google_client_id_here